.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex.x-center {
  justify-content: center;
}
.flex.x-space-around {
  justify-content: space-around;
}
.flex.x-space-between {
  justify-content: space-between;
}
.flex.y-center {
  align-items: center;
}

html {
  position: relative;
}

body {
  background-color: #eee;
}

.img-container {
  border-radius: 25px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border: none;
}

@media (max-width: 815px) {
  .img-container {
    max-width: unset;
  }
}
input {
  border-radius: 100px;
  padding: 10px;
}

.search-input {
  position: relative;
}
.search-input input[type=text] {
  border: none;
  padding-left: 40px;
  padding-right: 60px;
}
.search-input svg {
  position: absolute;
  left: 15px;
  top: 11px;
  cursor: pointer;
  transform: scale(1.3);
  color: #777;
}
.search-input input[type=submit] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 40px;
  cursor: pointer;
}

button, a.button {
  position: relative;
  display: block;
  width: max-content;
  margin: 10px 0;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #9f74e4;
  border-radius: 20px;
  text-decoration: none;
  color: #9f74e4;
  transition: background-color 0.25s ease;
  align-self: center;
  cursor: pointer;
}
button:hover, a.button:hover {
  background-color: #9f74e4;
  color: #fff;
}
button:hover svg, a.button:hover svg {
  color: #fff;
}
button svg, a.button svg {
  position: absolute;
  right: 15px;
  top: 11px;
  color: #9f74e4;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #555;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.window-component {
  transition: transform 0.25s ease;
}

.pad {
  padding: 20px;
}
.pad.no-x {
  padding-left: 0;
  padding-right: 0;
}
.pad.no-y {
  padding-top: 0;
  padding-bottom: 0;
}
.pad.no-left {
  padding-left: 0;
}
.pad.no-right {
  padding-right: 0;
}
.pad.no-top {
  padding-top: 0;
}
.pad.no-bottom {
  padding-bottom: 0;
}

.inner.typography {
  padding-top: 20px;
}

i {
  font-family: "Font Awesome 5";
}

.text-center {
  text-align: center;
}

.d-33 {
  width: 33%;
}

@media (max-width: 815px) {
  .m-100 {
    width: 100%;
  }
}
.pagination {
  list-style: none;
  padding: 0;
}
.pagination li {
  padding: 5px;
}

.topics a.topic {
  display: block;
  text-decoration: none;
}
.topics a.topic .img-container {
  height: 400px;
}

.challenges .challenge {
  max-width: 440px;
}