.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex.x-center {
  justify-content: center;
}
.flex.x-space-around {
  justify-content: space-around;
}
.flex.x-space-between {
  justify-content: space-between;
}
.flex.y-center {
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col.x-end {
  align-items: flex-end;
}

html {
  position: relative;
}

body {
  background-color: #eee;
}

.frame {
  padding: 100px 20px 150px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #747de8;
  border-radius: 0 0 0 25px;
  z-index: 10;
}
nav a.button {
  border-color: #fff;
  color: #fff;
}
nav a.button svg {
  color: #fff;
}

@media only screen and (max-width: 815px) {
  nav {
    width: 100%;
    top: unset;
    bottom: 0;
    border-radius: 25px 25px 0 0;
  }
  nav .flex {
    justify-content: center;
  }
  nav a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
  }
  nav a.button span {
    display: none;
  }
  nav a.button svg {
    position: static;
  }
}
.img-container {
  border-radius: 25px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border: none;
}

@media only screen and (max-width: 815px) {
  .img-container {
    max-width: unset;
  }
}
video {
  border-radius: 25px;
  overflow: hidden;
  max-width: 100%;
}

.thumbnail-preview {
  max-width: 100%;
  height: 225px;
  width: 400px;
  border: 5px solid #9f74e4;
  box-sizing: border-box;
}

input[type=text] {
  border-radius: 100px;
  padding: 10px;
  border: none;
}

.upload-container {
  position: relative;
  width: max-content;
  cursor: pointer;
}
.upload-container:hover input[type=file] + label {
  background-color: #fff;
  color: #9f74e4;
}
.upload-container input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 100px;
  border: none;
}
.upload-container input[type=file]::-webkit-file-upload-button {
  display: none;
}
.upload-container input[type=file] + label {
  z-index: 1;
  display: block;
  border-radius: 100px;
  margin: 10px 0;
  padding: 10px 15px;
  background-color: #9f74e4;
  color: #fff;
  transition: background-color 0.25s ease;
}
.upload-container input[type=file] + label svg {
  padding: 0 4px;
}

.search-input {
  position: relative;
}
.search-input input[type=text] {
  padding-left: 40px;
  padding-right: 60px;
}
.search-input svg {
  position: absolute;
  left: 15px;
  top: 11px;
  cursor: pointer;
  transform: scale(1.3);
  color: #777;
}
.search-input input[type=submit] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 40px;
  cursor: pointer;
}

.sort-controls {
  position: relative;
}
.sort-controls .control-icon {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #9f74e4;
  margin-left: 20px;
  cursor: pointer;
}
.sort-controls .control-icon svg {
  color: #fff;
}
.sort-controls .sort-options {
  z-index: 1;
  position: absolute;
  bottom: -35px;
  right: 0;
  flex-flow: row;
  white-space: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 0px;
  background: #9f74e4;
  border-radius: 25px 0px 25px 25px;
  overflow: hidden;
  transition: width 0.25s ease;
}
.sort-controls .sort-options.open {
  width: 320px;
  padding: 0 10px;
}
.sort-controls .sort-options label {
  color: #fff;
}
.sort-controls .sort-options input {
  margin-left: 3px;
  margin-right: 10px;
  padding: 10px;
}

button, a.button {
  position: relative;
  display: block;
  width: max-content;
  margin: 10px 0;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #9f74e4;
  border-radius: 20px;
  text-decoration: none;
  color: #9f74e4;
  transition: background-color 0.25s ease;
  cursor: pointer;
}
button.icon-left, a.button.icon-left {
  padding-left: 40px;
  padding-right: 10px;
}
button.icon-left svg, a.button.icon-left svg {
  right: unset;
  left: 11px;
}
button.no-icon, a.button.no-icon {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
button:hover, button.selected, button[type=submit], a.button:hover, a.button.selected, a.button[type=submit] {
  background-color: #9f74e4;
  color: #fff;
}
button:hover[type=submit]:hover, button.selected[type=submit]:hover, button[type=submit][type=submit]:hover, a.button:hover[type=submit]:hover, a.button.selected[type=submit]:hover, a.button[type=submit][type=submit]:hover {
  border-color: #fff;
  background-color: #fff;
  color: #9f74e4;
}
button:hover[type=submit]:hover svg, button.selected[type=submit]:hover svg, button[type=submit][type=submit]:hover svg, a.button:hover[type=submit]:hover svg, a.button.selected[type=submit]:hover svg, a.button[type=submit][type=submit]:hover svg {
  color: #9f74e4;
}
button:hover svg, button.selected svg, button[type=submit] svg, a.button:hover svg, a.button.selected svg, a.button[type=submit] svg {
  color: #fff;
}
button svg, a.button svg {
  position: absolute;
  right: 15px;
  top: 11px;
  color: #9f74e4;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #555;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.window-component {
  transition: transform 0.25s ease;
}

.pad {
  padding: 20px;
}
.pad.no-x {
  padding-left: 0;
  padding-right: 0;
}
.pad.no-y {
  padding-top: 0;
  padding-bottom: 0;
}
.pad.no-left {
  padding-left: 0;
}
.pad.no-right {
  padding-right: 0;
}
.pad.no-top {
  padding-top: 0;
}
.pad.no-bottom {
  padding-bottom: 0;
}

.small-pad {
  padding: 10px;
}
.small-pad.no-x {
  padding-left: 0;
  padding-right: 0;
}
.small-pad.no-y {
  padding-top: 0;
  padding-bottom: 0;
}
.small-pad.no-left {
  padding-left: 0;
}
.small-pad.no-right {
  padding-right: 0;
}
.small-pad.no-top {
  padding-top: 0;
}
.small-pad.no-bottom {
  padding-bottom: 0;
}

.inner.typography {
  padding-top: 20px;
}

i {
  font-family: "Font Awesome 5";
}

.text-center {
  text-align: center;
}

.d-33 {
  width: 33%;
}

@media only screen and (max-width: 815px) {
  .m-100 {
    width: 100%;
  }
}
.page-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pagination {
  list-style: none;
  padding: 0;
}
.pagination li {
  padding: 5px;
}

.topics a.topic {
  display: block;
  text-decoration: none;
}
.topics a.topic .img-container {
  height: 400px;
}

.challenges .challenge p {
  max-width: 400px;
}

a.topics-btn {
  left: 30px;
  z-index: 9;
  position: fixed;
  top: 0;
}

.challenge-options {
  z-index: 10;
  position: fixed;
  top: 0;
  left: -195px;
  height: 100%;
  width: 195px;
  border-right: 20px solid #777;
  display: flex;
  flex-direction: column;
  background-color: #DAD0EB;
  overflow-y: auto;
  cursor: pointer;
  transition: left 0.25s ease;
}
.challenge-options.opened {
  left: 0;
}
.challenge-options svg.close {
  align-self: flex-end;
  padding: 15px;
  font-size: 2em;
}
.challenge-options .challenge-option {
  display: flex;
  align-items: center;
}
.challenge-options .challenge-option.correct {
  color: #25781f;
}
.challenge-options .challenge-option.correct svg {
  display: block;
}
.challenge-options .challenge-option svg {
  display: none;
  margin-left: 10px;
}

.challenge-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.challenge-input.correct .input-correct {
  visibility: visible;
}
.challenge-input .input-correct {
  display: flex;
  visibility: hidden;
  align-items: center;
  color: #25781f;
}
.challenge-input .input-correct svg {
  margin-left: 10px;
}

@media only screen and (max-width: 815px) {
  .available-answers {
    display: none;
  }

  .challenge-options {
    left: 0;
    height: unset;
    width: 100%;
    overflow-y: unset;
    overflow-x: auto;
    flex-direction: row;
    cursor: unset;
    text-align: center;
  }
  .challenge-options svg.close {
    display: none;
  }
}
.slick-slider .slick-slide {
  padding: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.slick-slider .slick-slide div {
  outline: none;
}
.slick-slider .slick-prev, .slick-slider .slick-next {
  z-index: 1;
  top: 90%;
}
.slick-slider .slick-prev {
  left: unset;
  right: 120px;
}
.slick-slider .slick-next {
  right: 50px;
}
.slick-slider .slick-prev:before, .slick-slider .slick-next:before {
  color: #fff;
  font-size: 30px;
  padding: 5px 10px;
  border-radius: 25px;
  background-color: #9f74e4;
}