nav{
	position: fixed;
	top: 0;
	right: 0;
	background-color: getThemeProperty(secondaryColor);
	border-radius: 0 0 0 25px;
	z-index: 10;
}
@media only screen and (max-width: 815px){
	nav{
		width: 100%;
		top: unset;
		bottom: 0;
		border-radius: 25px 25px 0 0;
		.flex{
			justify-content: center;
		}
		a.button{
			display: flex;
			justify-content: center;
			align-items: center;
			padding-right: 10px;
			box-sizing: border-box;
			height: 50px;
			width: 50px;
			text-align: center;	
			border-radius: 50%;
			span{
				display: none;
			}
			svg{
				position: static;
			}
		}
	}
}