.slick-slider{
	padding-bottom: 50px;
	.slick-slide{
		padding: 0 10px;
		box-sizing: border-box;
		cursor: pointer;
		div{
			outline: none;
		}
	}
	.slick-prev, .slick-next{
		z-index: 1;
		top: 90%;
	}
	.slick-prev{
		left: unset;
		right: 60px;
	}
	.slick-next{
		right: 0;
	}
	.slick-prev, .slick-next{
		height: unset;
		width: unset;
		padding: 5px 10px;
		border-radius: 25px;
		background-color: $blue;
		&:before{
			color: $white;
			font-size: 30px;
		}
	}
}
@media only screen and (max-width: 1024px){
	.slick-slider{
		video{
			// height: 150px;
		}
	}
}