.thumbnail-preview{
	max-width: 100%;
	height: 225px;
	width: 400px;
	border: 5px solid $blue;
	box-sizing: border-box;
}
@media only screen and (max-width: 815px){
	.video-add-view{
		flex-direction: column-reverse;
	}
}