.topics{
	a.topic{
		display: block;
		text-decoration: none;
		.img-container{
			height: 400px;
		}
	}
}
.challenges{
	.challenge{
		p{
			max-width: 400px;
		}
	}
}
.available-answers{
	z-index: 9;
    position: fixed;
    top: 0;
    left: 30px;
    cursor: pointer;
}
.challenge-options{
	z-index: 10;
    position: fixed;
    top: 0;
    left: -195px;
    height: 100%;
    width: 195px;
    border-right: 20px solid $input-grey;
    display: flex;
    flex-direction: column;
    background-color: #DAD0EB;
    overflow-y: auto;
    cursor: pointer;
    transition: left .25s ease;
    &.opened{
    	left: 0;
    }
    svg.close{
    	align-self: flex-end;
    	padding: 15px;
    	font-size: 2em;
    }
    .challenge-option{
    	display: flex;
    	align-items: center;
	    &.correct{
	    	color: $green;
	    	svg{
	    		display: block;
	    	}
	    }
    	svg{
    		display: none;
    		margin-left: 10px;
    	}
    }
}
.challenge-input{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&.correct{
		.input-correct{
			visibility: visible;
		}
	}
	.input-correct{
		display: flex;
		visibility: hidden;
		align-items: center;
		color: $green;
		svg{
			margin-left: 10px;
		}
	}
}
@media only screen and (max-width: 815px){
	.available-answers{
		display: none;
	}
	.challenge-options{
		left: 0;
		height: unset;
		width: 100%;
		overflow-y: unset;
		overflow-x: auto;
		flex-direction: row;
		cursor: unset;
		text-align: center;
	    svg.close{
	    	display: none;
	    }
	}
}