.topics{
	a.topic{
		display: block;
		text-decoration: none;
	}
	.img-container{
		height: 225px;
	}
}
.challenges{
	.challenge{
		width: 400px;
		p{
			max-width: 400px;
		}
	}
}

.challenge-options{
	z-index: 10;
    position: fixed;
    top: 0;
    left: -195px;
    height: 100%;
    width: 195px;
    border-right: 20px solid getThemeProperty(backgroundColorMedium);
    display: flex;
    flex-direction: column;
    background-color: getThemeProperty(backgroundColorLight);
    overflow-y: auto;
    cursor: pointer;
    transition: left .25s ease;
    &.opened{
    	left: 0;
    }
    svg{
    	box-sizing: initial;
    }
    svg.close{
    	align-self: flex-end;
    	padding: 15px;
    	font-size: 2em;
    }
    .challenge-option{
    	display: flex;
    	align-items: center;
	    &.correct{
	    	color: getThemeProperty(tertiaryColor);
	    	svg{
	    		display: block;
	    	}
	    }
    	svg{
    		display: none;
    		margin-left: 10px;
    	}
    }
}
.challenge-input{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	&.correct{
		.correct-answer, .input-correct{
			visibility: visible;
		}
	}
	.correct-answer{
		visibility: hidden;
	}
	.input-correct{
		display: flex;
		visibility: hidden;
		align-items: center;
		color: getThemeProperty(tertiaryColor);
		svg{
			margin-left: 10px;
		}
	}
}
@media only screen and (max-width: 815px){
	.topic-heading {
		margin-top: 100px;
	}
	.available-answers{
		display: none;
	}
	.challenge-options{
		left: 0;
		height: unset;
		width: 100%;
		border: none;
		overflow-y: unset;
		overflow-x: auto;
		flex-direction: row;
		cursor: unset;
		text-align: center;
		.challenge-option {
			p {
				white-space: nowrap;
			}
		}
	    svg.close{
	    	display: none;
	    }
	}
}