button, a.button{
	position: relative;
	display: block;
	width: max-content;
	margin: 10px 0;
	padding: 10px;
	padding-right: 40px;
	border: 1px solid $blue;
	border-radius: 20px;
	text-decoration: none;
	color: $blue;
	transition: background-color .25s ease;
	&:hover{
		background-color: $blue;
		color: $white;
		svg{
			color: $white;
		}
	}
	svg{
		position: absolute;
		right: 15px;
		top: 11px;
		color: $blue;
	}
}