a.button, input.button, button.button, span.button{
	width: max-content;
	white-space: nowrap;
	&.icon-left{
		padding-left: 40px;
		padding-right: 10px;
		svg{
			right: unset;
			left: 11px;
		}
	}
	&.no-icon{
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
	svg{
		position: absolute;
		right: 15px;
		top: 11px;
	}
}