.search-form{
	.field.text, .field.dropdown{
		margin: 10px 0;
	}
	.field.dropdown{
		min-width: 260px;
	}
	.button{
		border-radius: 0;
		border-left: 1px solid getThemeProperty(textColorLight);
		&.hamburger{
			border-radius: 0 5px 5px 0;
		}
		svg.fa-search{
			top: 25px;
		}
	}
}

@media only screen and (max-width: 815px){
	.search-form {
		.field.dropdown{
			min-width: unset;
		}
	}
}