.upload-container{
	position: relative;
	width: max-content;
    &:hover{
		input[type="file"] + label{
			background-color: getThemeProperty(backgroundHoverColor, $component-button-properties);
			color: getThemeProperty(textHoverColor, $component-button-properties);
	    }
    }
	input[type="file"]{
		opacity: 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    cursor: pointer;
		border-radius: 100px;
		border: none;
		z-index: 2;
		&::-webkit-file-upload-button{
			display: none;
		}
		+ label {
			z-index: 1;
			@include button-input-style;
		}
	}
	svg {
		position: absolute;
		right: 15px;
		top: 11px;
	}
}
