.flex{
	display: flex;
	flex-wrap: wrap;
	&.x-center{
		justify-content: center;
	}
	&.x-space-around{
		justify-content: space-around;
	}
	&.x-space-between{
		justify-content: space-between;
	}
	&.y-center{
		align-items: center;
	}
}

.flex-col{
	display: flex;
	flex-direction: column;
	&.x-end{
		align-items: flex-end;
	}
}